{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="row ">
    <div class="col-lg">
      <h4 class="lead">
        Running any kind of event that requires shutting down
        roads is nightmare. It is hard to define a border and shut
        it down without letting vehicles through the cracks.
        Communicating the structure and timing of the plan is
        difficult to do across multiple teams. We strive to provide
        a platform that enables you to solve this issues and have
        your events kick-off and close down without a hitch.
      </h4>
    </div>
    <div class="col-lg mt-3">
      <div class="container">
        <h1>Phases</h1>
        <div class="row">
          <div class="col-sm-3 text-main-bg">
            Planning
          </div>
          <div class="col-sm-9">
            Define your road closures and placement of resources and personnel on an interactive map
          </div>
          <div class="col-sm-3 text-main-bg">
            Personnel
          </div>
          <div class="col-sm-9">
            Identify who is needed and what tasks they are needed to perform
          </div>
          <div class="col-sm-3 text-main-bg">
            Execution
          </div>
          <div class="col-sm-9">
            Define your setup and tear down procedure by assigning tasks to different personnel
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-12 my-5 text-center">
      <a href="/signup" class="btn-lg btn-primary p-4">Sign up for free!</a>
    </div>
  </div>
  <div>
    <h2>Attributions</h2>
    <div>Icons made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
      <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>,
      <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a>,
      <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a>, and
      <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</div>

{% endblock %}
