<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %} - ephjos</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=”robots” content=”NOODP,NOYDIR” />
    {% block meta %}{% endblock %}

    <link href="/css/index.css" rel="stylesheet">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicon.ico">
    {% if not dev %}
    <script async defer data-website-id="5d9bfea2-9c0c-4ce6-837b-72c8402f9341" src="https://analytics.ephjos.io/umami.js"></script>
    {% endif %}
    </script>
  </head>

  <body>
    <main>
      <div class="container content">
        <div class="mb-3"></div>
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="links">
        <a href="https://www.github.com/ephjos" target="_blank" rel="noopener noreferrer"
           class="umami--click--github-button">
          github</a>
        <a href="/feed.xml" target="_blank" rel="noopener noreferrer"
           class="umami--click--rss-button">
          atom</a>
      </div>
      <div class="copy">
        &copy;
        <script>document.write(new Date().getFullYear());</script>, ephjos.
      </div>
    </footer>
  </body>

</html>
