{% extends 'base.tmpl' %}

{% block title %}blog{% endblock %}

{% block meta %}
<meta
  name="description"
  content="life and technology blog"
  >
{% endblock %}

{% block content %}
<a class="back" href="/">&lt;- Home</a>
<div class="blog-container">
  <h1>
    blog posts
  </h1>
  <div class="card-deck">
    {% for post in posts %}
    <a href="/blog/{{ post.slug }}" class="card">
      <div class="card-body">
        <span>{{ post.date }} - {{ post.read_time }}</span>
        <h4>{{ post.title }}</h4>
        <p>
          {{ post.preview }}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
