{% extends 'base.html' %}
{% set active = "Dashboard" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1>
  {{ name }}'s Projects
</h1>

<a href="/createnew" type="button" class="btn btn-primary no-link text-white m-2">
  Create new
  <i class="fas fa-plus-circle"></i>
</a>

<div class="container my-5">
  <div class="card-deck">

    {% for project in projects %}
    <a href="/project/{{ project.pid }}" class="card bg-light mb-3 no-link" style="max-width: 22rem;min-width:18rem;">
      <div class="card-header">{{ project.name }}</div>
      <div class="card-body">
        {% if project.description %}
          <p class="card-text text-muted">{{ project.description }}</p>
        {% else %}
          <p class="card-text text-muted">No description</p>
        {% endif %}
      </div>
      {% if project.created %}
      <div class="card-footer text-muted">
        <p>{{ project.created }}</p>
      </div>
      {% endif %}
    </a>
    {% endfor %}

    <!--
    <a href="/createnew" class="card text-white bg-primary mb-3 text-center create-new-card"
      style="max-width: 22rem;min-width:18rem;">
      <div class="card-body align-items-center row">
        <h5 class="card-title col-12">
          Create new
          <i class="fas fa-plus-circle"></i>
        </h5>
      </div>
    </a>
    -->
  </div>
</div>

{% endblock %}
