{% extends 'base.tmpl' %}

{% block title %}home{% endblock %}

{% block meta %}
<meta
     name="description"
     content="joseph hines - GNU/Linux poweruser, vim elitist, avid MMA fan,
              aspiring coffee/beer snob, and budding metalhead">
{% endblock %}

{% block content %}
<div class="full-center">
  <div class="container">
    <div class="brand">
      <img src="/img/logo.png" alt="my logo" />
      <h1>ephjos</h1>
    </div>
    <div class="info">
      <span>📍</span>
      <span>Philadelphia, Pennsylvania</span>

      <span>👨‍💻</span>
      <span>
        Software Developer at
        <a href="https://cesium.com/" target="_blank" rel="noopener noreferrer">
          Cesium
        </a>
      </span>

      <span>👨‍🎓</span>
      <span>Senior BS/MS Computer Science Student at Drexel University</span>

      <span>❔</span>
      <span>
        A GNU/Linux poweruser 😎, vim elitist, avid MMA fan,
        and lover of all things coffee and beer
      </span>

      <span>📄</span>
      <span><a href="/files/resume.pdf" target="_blank" rel="noreferrer noopener">Résumé</a></span>

      <span>📔</span>
      <span><a href="/blog.html">Blog</a></span>
    </div>
  </div>
</div>
{% endblock %}
