{% extends 'base.tmpl' %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
<meta
  name="description"
  content="{{ description }}">
<link
  rel="preload"
  href="/css/monokai.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="/css/monokai.css">
</noscript>
{% endblock %}

{% block content %}

<a class="back" href="/blog.html">&lt;- Blog</a>
<div class="post-container">
  <span>{{ date }}</span><span>{{ read_time }}</span>
  <h2>
    {{ title }}
  </h2>
  <div class="post">
    {{ content|safe }}
  </div>
  <a href="/blog.html" class="back-button umami--click--back-blog-button">back to blog posts</a>
</div>

{% endblock %}
