{% extends 'base.tmpl' %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
<meta
  name="description"
  content="{{ description }}">
<link
  rel="preload"
  href="/css/monokai.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="/css/monokai.css">
</noscript>
{% endblock %}

{% block content %}

<div class="container blog-container mb-3">
  <div class="row">
    <span class="date text-muted">
      {{ date }}
    </span>
    <span class="ml-3">
      {{ read_time }}
    </span>
  </div>
  <div class="row">
    <h3>
      {{ title }}
    </h3>
  </div>
  <div class="row my-2">
  </div>
  <div class="row">
    <p>
      <div class="blog-container">
        {{ content|safe }}
      </div>
    </p>
  </div>
  <div class="row">
    <a href="/blog.html" class="back-button">back to blog posts</a>
  </div>
</div>

{% endblock %}
