{% extends 'base.html' %}
{% set active = "Report" %}

{% block title %}
{{ project.name }}
{% endblock %}

{% block content %}


<div class="container m-auto" style="max-width: 10in;" id="reportContainer">
  <button class="btn btn-primary btn-lg printButton float-right m-4" id="print"
    onclick="window.print()">Print Report</button>

  <div id="map" style="width: 100%; height: 100vh; max-height: 14in; margin: 0in 0 1in 0; ">
  </div>

  <div style="page-break-before: always;"> </div>
  <br />

  <h2>
    {{ project.name }} Report
  </h2>
  <div class="container m-2" style="font-size: 1.2rem;" id="report">
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<script src="/lib/he/he.js"></script>
<script>
  // Project ID
  var PID = "{{ project.pid }}"

  // Global map objects
  var map = undefined
  var featureLayer = undefined

  // Map each tool to its corresponding feature/icon
  var TOOLS = undefined
  var TOOL_NAMES = {
    "t1": "Short Barricade",
    "t2": "Long Barricade",
    "t3": "Cone",
    "t4": "Fence",
    "t5": "Vehicle",
    "t6": "Small Truck",
    "t7": "Large Truck",
    "t8": "Utility Vehicle",
  }

  // Initializing state
  var data=he.decode("{{ project.data }}")
  var state = JSON.parse(data);
  const initialState = {
    "currentTool": "t1",
    "location":"Philadelphia, PA",
    "zoom": 12,
    "center": [-8367165.462810878, 4859074.592843575],
    "features":{},
    "resources":{},
    "personnel":{},
    "steps":{},
    "featureId":0,
    "personnelId":0,
    "stepId":0,
    "stepOrder":0,
  }

  // Use state as an "immutable" global ->
  // must be modified through this function
  let setState = (stateChanges) => {
    Object.assign(state, stateChanges)
  }

  let addFeatureToMap = (data, id) => {
    // Convert click coordinate to point on map
    let geometry = new ol.geom.Point(data.coordinate);
    var feature = new ol.Feature({
      geometry: geometry,
      data: data,
      id: id,
    });

    let icon = TOOLS[data.tool]

    // Assign current tool's icon to this feature
    feature.setStyle(new ol.style.Style({
      image: icon
    }));

    featureLayer.getSource().addFeature(feature)
  }

  let fitFeaturesOnMap = () => {
    // Get bounding box on features
    let extent = featureLayer.getSource().getExtent()

    // Add some padding to the bounding box
    let padding = 200
    extent[0] -= padding; extent[1] -= padding;
    extent[2] += padding; extent[3] += padding;

    // Execute the fit
    map.getView().fit(extent)
  }

  // Binds handlers to UI components
  let main = () => {
    // Initialize state if not set yet
    if (JSON.stringify(state) == '{}') {
      state = initialState
    }


    try {
      // MapTiler API key
      var key = 'FMVS54oSrqPDSRjALXxA';
      var attributions = '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> ' +
        '<a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>';
      var report = $("#report")

      // Load street map from MapTiler
      var roads = new ol.layer.Tile({
        source: new ol.source.XYZ({
          attributions: attributions,
          url: 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=' + key,
          tileSize: 512,
          maxZoom: 22
        })
      });

      // Create the map object
      map = new ol.Map({
        interactions: ol.interaction.defaults({
          doubleClickZoom: false,
          dragAndDrop: false,
          dragPan: false,
          keyboardPan: false,
          keyboardZoom: false,
          mouseWheelZoom: false,
          pointer: false,
          select: false
        }),
        layers: [roads],
        target: document.getElementById('map'),
        view: new ol.View({
          zoom: state.zoom,
        })
      });

      const scale = 0.1

      // Set the tools
      TOOLS = {
        "t1": new ol.style.Icon({
          src: "/img/short_barricade.png",
          scale,
        }),
        "t2": new ol.style.Icon({
          src: "/img/long_barricade.png",
          scale,
        }),
        "t3": new ol.style.Icon({
          src: "/img/cone.png",
          scale,
        }),
        "t4": new ol.style.Icon({
          src: "/img/fence.png",
          scale,
        }),
        "t5": new ol.style.Icon({
          src: "/img/vehicle.png",
          scale,
        }),
        "t6": new ol.style.Icon({
          src: "/img/small_truck.png",
          scale,
        }),
        "t7": new ol.style.Icon({
          src: "/img/large_truck.png",
          scale,
        }),
        "t8": new ol.style.Icon({
          src: "/img/utility.png",
          scale,
        }),
      }

      // Create featureLayer
      var vectorSource = new ol.source.Vector({
        features: []
      })
      featureLayer = new ol.layer.Vector({
        source: vectorSource
      })
      map.addLayer(featureLayer);

      // Set center of map
      map.getView().setCenter(state.center)

      // Add all saved features back to the map
      for (let id of Object.keys(state.features)) {
        addFeatureToMap(state.features[id],id)
      }

      fitFeaturesOnMap()

      let unassigned = ""
      let unassignedCount = 0
      for (let fid of Object.keys(state.features)) {
        let isAssigned = false;
        for (let pid of Object.keys(state.personnel)) {
          if (Object.keys((state.personnel[pid].assigned)).includes(fid) &&
            state.personnel[pid].assigned[fid]) {
            isAssigned = true
            break
          }
        }

        if (!isAssigned) {
          unassigned += `
        <div class="col-md-6">
          ${state.features[fid].name}
        </div>
        `
          unassignedCount++
        }
      }

      // Display message if there aren't any resources yet
      unassigned = unassigned == ""
        ? `
        <p class="text-muted">
          <i class="fa fa-check-circle" />
          All Resources Assigned!
        </p>
      `
        : unassigned

      let unplanned = ""
      let unplannedCount = 0
      for (let fid of Object.keys(state.features)) {
        let isPlanned = false;
        for (let pid of Object.keys(state.steps)) {
          if (Object.keys((state.steps[pid].assigned)).includes(fid) &&
            state.steps[pid].assigned[fid]) {
            isPlanned = true
            break
          }
        }

        if (!isPlanned) {
          unplanned += `
        <div class="col-md-6">
          ${state.features[fid].name}
        </div>
        `
          unplannedCount++
        }
      }

      // Display message if there aren't any resources yet
      unplanned = unplanned == ""
        ? `
        <p class="text-muted">
          <i class="fa fa-check-circle" />
          All Resources Planned!
        </p>
      `
        : unplanned

      let resourceCountsData = {}
      for (let fid of Object.keys(state.features)) {
        let tool = state.features[fid].tool
        if (!resourceCountsData[tool]) {
          resourceCountsData[tool] = 1
        } else {
          resourceCountsData[tool]++
        }
      }

      let resourceCounts = ""
      for (let tool of Object.keys(resourceCountsData)) {
        resourceCounts += `
      <div class="col-md-6">
        ${resourceCountsData[tool]}
        ${TOOL_NAMES[tool]}
      </div>
      `
      }

      // Display message if there aren't any resources yet
      resourceCounts = resourceCounts == ""
        ? `
        <p class="text-muted">
          No Resources Placed
        </p>
      `
        : resourceCounts


      let plan = ""
      for (let id of Object.keys(state.steps)) {
        plan += `
          <li class="container mb-3">
        `

        let step = state.steps[id]
        for (let fid of Object.keys(step.assigned)) {
          let isAssigned = step.assigned[fid]

          if (isAssigned) {
            let assignedTo = `<ul class="container ml-4">`
            for (let pid of Object.keys(state.personnel)) {
              let person = state.personnel[pid]

              if (Object.keys(person.assigned).includes(fid) &&
                  person.assigned[fid]) {
                assignedTo += `
                  <li>
                    ${person.name}
                  </li>
                `
              }
            }
            assignedTo += `</ul>`

            plan += `
              <div class="container">
                ${state.features[fid].name}
                ${assignedTo}
              </div>
            `
          }
        }

        if (step.note) {
          plan += `
            <div class="container">
              <i>Note </i>:
              ${step.note}
            </div>
          `
        }

        plan += `
          </li>
        `
      }

      report.html(`
      <div class="container">
        <h3>Unassigned Resources (${unassignedCount})</h3>
        <div class="container mb-4 mt-3">
          <div class="row justify-content-md-between">
            ${unassigned}
          </div>
        </div>
        <h3>Unplanned Resources (${unplannedCount})</h3>
        <div class="container mb-4">
          <div class="row justify-content-md-between">
            ${unplanned}
          </div>
        </div>
        <h3>Resource Counts</h3>
        <div class="container mb-4">
          <div class="row justify-content-md-between">
            ${resourceCounts}
          </div>
        </div>
        <h3>Plan</h3>
        <div class="container mb-4">
          <div class="row justify-content-md-between">
            <ol>
              ${plan}
            </ol>
          </div>
        </div>
      </div>
    `)

    $("#print").on("click",(event) => {

    })

    } catch(err) {
      report.html("<div class=\"alert alert-danger\">Unable to load map from OpenStreetMaps...</div>");
      console.error(err)
    }

  }

  // When page is loaded
  $(document).ready(()=>{
    main()
  })
</script>

{% endblock %}
