<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
   <title>ephjos's blog</title>
   <description>
      joseph hines - GNU/Linux poweruser, vim elitist, avid MMA fan,
      aspiring coffee/beer snob, and budding metalhead
   </description>
   <link href="https://ephjos.io/feed.xml" rel="self" type="application/atom+xml"/>
   <link href="https://ephjos.io/" rel="alternate" type="text/html"/>
   <author>
      <name>ephjos</name>
   </author>

   {% for post in posts %}
   <item>
      <title>{{ post.title }}</title>
      <link>http://ephjos.io/blog/{{ post.slug }}</link>
      <guid>http://ephjos.io/blog/{{ post.slug }}</guid>
      <pubDate>{{ post.pub_date }}</pubDate>
      <content:encoded>
         <![CDATA[ {{ post.content }} ]]>
      </content:encoded>
      <author>
         <name>ephjos</name>
      </author>
   </item>
   {% endfor %}

</channel>
</rss>
