/*
 * Import fonts
 */
@font-face {
  font-family: JetBrains;
  src: url("../font/JetBrainsMono-Bold.ttf");
}

@font-face {
  font-family: JetBrainsBold;
  src: url("../font/JetBrainsMono-ExtraBold.ttf");
}

html {
    /*
     * Variable declarations, available everywhere on the page
     */
    --bg: #0B0c10;
    --bg-alt: #1f2833;
    --main: #c5c6c7;
    --acc: #66fcf1;
    --acc-alt: #f64c72;
}

body {
  font-family: "JetBrains";
  font-size: 1rem;
  background: var(--bg);
  overflow-x: hidden;
}

header {
  background: var(--bg);
}

.jumbotron {
    padding: 1.5rem;
    background: 0;
}

.jumbotron img {
}

.jumbotron p, .jumbotron li {
  color: var(--white);
}

.headshot {
  width: 300px;
  padding: 20px;
}

.logo {
  width: 30px;
  height:30px;
}

.text-bg {
  color: var(--bg);
  font-size: 1.3rem;
}

.no-link, .no-link:hover {
  color: #000;
  text-decoration: none;
}

.navbar {
  font-size: 1.8rem;
}

.nav-link:hover {
  text-decoration: underline var(--white);
}

.nav-link > .second {
  margin-left: -1.1rem;
}

.nav-link > span {
  position: relative;
  transition: left 0.2s;
  left: 0%;
  color: var(--white);
}

.home-button > span {
  color: var(--acc);
}

@media only screen and (min-width: 768px) {
  .nav-link:hover > .first {
    left: 50%;
  }

  .nav-link:hover > .second {
    left: -50%;
  }
}

.blog-container {
  max-width: 768px;
  color: var(--white);
}

h3 {
  color: var(--acc-alt);
}

.blog-container span{
  padding: 10px;
  margin-left: 20px;
}

.blog-container p {
  text-indent: 2rem;
  font-size: 1.1rem;
}

.card {
  background: var(--bg-alt);
  color: var(--white);
  max-width: 360px;
}

.card:hover {
  color: var(--main);
}

.card-header {
  font-size: 1.3rem;
}
