$break: 968px;
$containerRadius: 10px;

$white: #ffffff;
$offwhite: #efefef;
$shadow: rgba(0, 0, 0, 0.5);
$black: #000000;

$darkFont: #212121;
$lightFont: #dfdfdf;
$lightGrey: #4e4e4e;
$darkGrey: #393939;

$orange: #ff5126;
$yellow: #ffd026;
$blue: #268aff;

@mixin small-screen {
  @media screen and (max-width: $break) {
    @content;
  }
}

@mixin big-screen {
  @media screen and (min-width: $break) {
    @content;
  }
}
