@import 'shared';

@include big-screen {
  .header {
    width: 350px;
    height: 100%;
    background-color: $darkGrey;
    border-top-left-radius: $containerRadius;
    border-bottom-left-radius: $containerRadius;

    a {
      color: $lightFont;
      text-decoration: none;
      font-size: 36px;
      font-weight: bold;
      text-transform: lowercase;

      &:hover {
        text-decoration: underline;
      }
    }

    > .headshot {
      position: relative;
      top: 50px;
      left: 75px;
    }

    > .title {
      margin-top: 75px;
      width: 100%;
      text-align: center;
    }

    > .menu {
      background-color: $lightGrey;
      position: absolute;
      width: 275px;
      height: 200px;
      bottom: calc(7.5vh + 25px);
      left: calc(7.5vw + 75px);
      display: flex;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;

      > a {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
      }
    }

    .bezier {
      position: fixed;
      display: block;
      z-index: 3;
      top: 7.5vh;
      right: 7.5vw;
      width: 500px;
      border-top-right-radius: $containerRadius;
    }
  }
}

@include small-screen {
  .header {
    height: 85px;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-color: $yellow;
    margin-bottom: 50px;

    > .title {
      position: absolute;
      top: 30px;
      left: 20px;
      width: fit-content;
      z-index: 2;

      > a {
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
        color: $darkFont;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bezier {
      position: relative;
      display: block;
      width: 100vw;
      height: auto;
      top: 85px;
    }

    .menuButton {
      z-index: 2;
      position: absolute;
      top: 33px;
      right: 33px;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: $darkFont;
        margin: 6px 0;
        transition: 0.4s;
      }
      .show.bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .show.bar2 {
        opacity: 0;
      }

      .show.bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }

    .menu {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 325px;
      display: flex;
      justify-content: center;
      align-content: flex-end;
      flex-wrap: wrap;
      background-color: $yellow;
      transition: 0.4s ease-in-out;
      transform: translateY(-100vh);

      &.show {
        transform: none;
      }

      a {
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
        color: $darkFont;
        text-transform: lowercase;
        width: 100%;
        height: fit-content;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 80px;
        }
      }
    }
  }
}
