@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
  font-family: Cooper;
  src: url('./font/CooperHewitt-Medium.woff');
}
@font-face {
  font-family: Cooper;
  src: url('./font/CooperHewitt-Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: Cooper;
  src: url('./font/CooperHewitt-MediumItalic.woff');
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url('./font/FiraSans-Regular.woff');
}

$break: 968px;

$primary: #dddddd;
$background: #111111;

$darkgrey: #696969;
$grey: #d8d8d8;
$red: #ff4136;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Cooper', sans-serif;
  text-rendering: optimizeLegibility;
}

.header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 0 4%;
  width: 100%;
  height: 140px;

  .fixed {
    top: 0;
    left: 0;
    width: fit-content;
    margin: 0 auto;
    h1 {
      color: $background;
      cursor: pointer;
      img {
        width: 64px;
        margin: 0 20px 0 0;
        vertical-align: middle;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $red;
      font-size: 15px;
      width: fit-content;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $break) {
  }
}
.Container {
  max-width: 60rem;
  margin: 10rem auto 0 auto;

  h1 {
    color: #333;
    img {
      width: 64px;
      padding: 20px;
      vertical-align: middle;
    }
  }

  p {
    color: #aaa;
  }
  @media screen and (min-width: $break) {
  }
}
.ContainerPreview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.postPreview {
  width: 24rem;
  height: auto;
  margin: 20px 0;
  overflow: hidden;

  .filter {
    all: none;
    top: 0;
    padding: 20px 10px;
    background: #e7e7e7cc;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
    h1 {
      font-weight: 900;
      text-transform: lowercase;
      transition: text-decoration 0.6s;
    }
    span {
      font-weight: 900;
    }
    img {
      width: 100%;
    }
    p {
      color: $red;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h1,
    span,
    p {
    }
    &:hover {
      background: #aaaaaa;

      h1 {
        text-decoration: underline;
      }
      h1,
      span,
      p {
        visibility: visible;
      }
    }
  }
}
.post {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  .thumbnail {
    width: 100%;
    max-height: 30rem;
    margin: 20px auto;
  }
  h1 {
    font-weight: 800;
    text-transform: lowercase;
  }
  span {
    color: #aaa;
  }
  img {
    width: 100%;
  }
  p {
    color: #000000;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 auto;
  }
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 80px 0 0 0;

  .message {
    padding: 120px 40px;
    background: $darkgrey;
    -webkit-clip-path: polygon(0 26%, 100% 0%, 100% 74%, 0 100%);
    clip-path: polygon(0 26%, 100% 0%, 100% 74%, 0 100%);

    h2 {
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      text-transform: lowercase;
      color: white;
    }
  }
  .links {
    margin: -80px 0 0 0;
    padding: 100px 40px 180px 40px;
    background: $grey;
    .wrapper {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      div p a {
        color: $darkgrey;
      }
    }
  }
  .goodbye {
    margin: -180px 0 0 0;
    padding: 100px 40px 120px 40px;
    background: $red;
    -webkit-clip-path: polygon(0 26%, 100% 0%, 100% 74%, 0 100%);
    clip-path: polygon(0 26%, 100% 0%, 100% 74%, 0 100%);
    h2 {
      width: 240px;
      text-align: center;
      margin: 0 auto;
      text-transform: lowercase;
      color: white;
    }
  }
}

.afterword {
  width: 96%;
  padding: 2%;
  margin: 0 0 250px 0;

  .previous {
    float: left;
  }
  .next {
    float: right;
  }

  .postPreview {
    width: 48%;
    margin: 20px 0;

    .filter {
      all: none;
      top: 0;
      padding: 20px 10px;
      background: #e7e7e7cc;
      background-size: cover;
      transition: 0.5s;
      cursor: pointer;
      h1 {
        font-weight: 900;
        text-transform: lowercase;
        transition: 0.6s;
      }
      span {
        font-weight: 900;
      }
      img {
        width: 100%;
      }
      p {
        color: $red;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        background: #e7e7e710;

        h1 {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }
}

pre {
  border-radius: 10px;
}
code {
  font-family: 'FiraSans', monospace;
  font-size: 15px;
}
