@import 'shared';
@import 'normalize';

@font-face {
  font-family: 'charterbold_italic';
  src: url('./fonts/charter_bold_italic-webfont.eot');
  src: url('./fonts/charter_bold_italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/charter_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charterbold';
  src: url('./fonts/charter_bold-webfont.eot');
  src: url('./fonts/charter_bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/charter_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charteritalic';
  src: url('./fonts/charter_italic-webfont.eot');
  src: url('./fonts/charter_italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/charter_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charterregular';
  src: url('./fonts/charter_regular-webfont.eot');
  src: url('./fonts/charter_regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'charterregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

em {
  padding-right: 2px;
  font-family: 'charteritalic', sans-serif;
}
strong {
  padding-right: 2px;
  font-family: 'charterbold', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include big-screen {
  html {
    background: rgb(255, 81, 38);
    background: linear-gradient(
      56deg,
      rgba(255, 81, 38, 1) 0%,
      rgba(255, 208, 38, 1) 80%,
      rgba(255, 208, 38, 1) 100%
    );
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    animation: fadeIn 0.8s ease;
    display: grid;
    width: 85vw;
    height: 85vh;
    background-color: $offwhite;
    box-shadow: 5px 5px 18px 4px $shadow;
    border-radius: $containerRadius;

    grid-template-rows: auto;
    grid-template-columns: 350px auto;
    grid-template-areas: 'header container';

    .header {
      grid-area: 'header';
    }
    .container {
      grid-area: 'container';
      margin-left: 80px;
      margin-top: 20px;
      margin-bottom: 10px;
      overflow: auto;

      .scrollbar {
        background-color: $offwhite;
      }
    }
  }
}
