@import 'shared';

@include small-screen {
  .post {
    width: 100vw;
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;

    :not(h1, h2, h3) {
      font-size: 20px;
    }
    h1 {
      font-weight: 800;
      text-transform: lowercase;
    }
    h2 {
      border-left: 8px solid $blue;
      margin-top: 30px;
      padding-top: 10px;
      padding-left: 10px;
      width: fit-content;
    }
    > span {
      color: $lightGrey;
    }
    a {
      color: $blue;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }
    p {
      color: $black;
      font-size: 20px;
      line-height: 1.7;
      margin: 25px auto 0 auto;

      > a[href$='.png'] {
        width: 95% !important;
        margin-top: 25px;
      }
    }
    div > p:first-of-type::first-letter {
      color: $blue;
      font-size: 3em;
      padding: 0 10px 0 0;
      margin: 0;
      float: left;
      font-family: 'charterbold';
    }
    li {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  .related {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-size: 28px;
    display: block;

    span {
      width: 70%;
    }

    .right,
    .left {
      width: 48px;
      padding: 6px;
      z-index: 3;
      margin-top: -5px;
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }
  }

  .home {
    width: 100vw;
    text-align: center;
    border-top: 3px dashed $orange;
    margin-top: 30px;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
  }
}
