<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %}- ephjos</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}

    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
    <link async rel="stylesheet" href="{{ url_for('static',filename='lib/hljs/gruvbox-dark.min.css') }}">
    <script defer async src="{{ url_for('static',filename='lib/hljs/highlight.min.js') }}">
      hljs.initHighlightingOnLoad();
    </script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col m-0 p-0">
            <nav class="navbar navbar-expand navbar-dark">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link home-button" href="/">
                    <span class="first">eph</span>
                    <span class="second">jos</span>
                  </a>
                </li>
              </ul>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/blog">
                    <span class="first">bl</span>
                    <span class="second">og</span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="https://www.github.com/ephjos" target="_blank" rel="noopener noreferrer">
                    <span class="first">git</span>
                    <span class="second">hub</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container content">
        <div class="mb-3"></div>
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>

</html>
