{% extends 'base.html' %}

{% block title %}
blog
{% endblock %}

{% block content %}

<div class="container blog-container">
  <h3>
    blog posts
  </h3>
  <div class="card-deck my-3">
    {% for post in posts %}
    <a href="/blog/{{ post.name }}" class="card no-link mx-auto">
      <div class="card-body text-white row">
        <div class="col-md-3 text-muted">
          {{ post.datestr }}
        </div>
        <div class="col-md-9">
          {{ post.name }}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
