{% extends 'base.html' %}

{% block title %}
home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Who am I?</h3>
        </div>
        <div class="col-md-8">
          <p>Joseph Hines, a 5th year BS/MS Computer Science Student at Drexel University,
          from a Northeast Philly suburb.</p>
          <img class="fluid headshot" src="{{ url_for('static', filename='img/headshot_cropped.jpg') }}" alt="< headshot here >"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>What are my interests?</h3>
        </div>
        <div class="col-md-8">
          <p>Full Stack Web Development, Computer Vision, Deep Learning,
            Operating Systems, and Algorithms.</p>
          <p>I am a Linux + VIM evangelist, avid MMA fan, aspiring coffee/beer snob,
            and budding metalhead.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>What have you done?</h3>
        </div>
        <div class="col-md-8">
          <p>All of the answers and more can be found
            <a href="{{ url_for('static', filename='files/resume.pdf') }}" target="_blank" rel="noopener noreferrer">here</a>,
            in my resume</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>What are you working on?</h3>
        </div>
        <div class="col-md-8">
          <p>Aside from school and trying to stay healthy, I have a few projects that
            are slowly being completed</p>
          <ul>
            <li>
              Maintaining my Arch linux dotfiles and
              <a
                href="/jarbs.sh"
                target="_blank"
                rel="noreferrer noopener"
                >bootstrapping script</a>
            </li>
            <li>
              The Ray Tracer Challenge in Go,
              <a href="https://pragprog.com/titles/jbtracer/" target="_blank" rel="noreferrer noopener">
                more here
              </a>
            </li>
            <li>Using an evolutionary algorithm to play Tetris in p5.js</li>
            <li>This site!</li>
          </ul>
        </div>
      </div>
    </div>
</section>

{% endblock %}
