{% extends 'base.html' %}

{% block title %}
{{ name }}
{% endblock %}

{% block meta %}
{{ meta|safe }}
<link
  rel="preload"
  href="/lib/hljs/gruvbox-dark.min.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="/lib/hljs/gruvbox-dark.min.css">
</noscript>
<script
  defer
  src="/lib/hljs/highlight.min.js"
  onload="hljs.initHighlightingOnLoad();">
</script>
{% endblock %}

{% block content %}

<div class="container blog-container mb-3">
  <div class="row">
    <h3>
      {{ name.replace("-", " ") }}
    </h3>
    <span class="date">
      {{ date }}
    </span>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <p>
      {{ body|safe }}
    </p>
  </div>
  <div class="row">
    <a href="/blog" class="back-button">⬅ back to blog posts</a>
  </div>
</div>

{% endblock %}
